@font-face {
    font-family: "poke";
    src: url("pokefont/pokefont.ttf");
}

body{
    /* background: url('https://i.pinimg.com/originals/39/3c/e6/393ce636c6ceac0b15ad4c454f247d60.jpg') no-repeat center fixed;  */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-color: black;
    font-family: "poke";
}

.btnSize{
    width: 8em;
    
}